@import "sass/mixins";

body {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    background: black url('../images/bg.jpg') center top no-repeat;
    color: white;
    
    @media screen and (min-width: 1920px) {
        background-size: cover;
    }
}

* {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 42px;
    font-family: 'Oswald', sans-serif;
    color: #06bc46;
    font-weight: 500;
}

.container {
    width: 1300px;
    margin: 0 auto;
    @include clearfix();
    
    @include breakpoint(tablet) {
        width: 768px;
    }
    
    @include breakpoint(mobile) {
        width: 300px;
    }
}

.logo {
    float: left;
    margin-left: 385px;
    
    @include breakpoint(tablet) {
        margin-left: 105px;
    }
    
    @include breakpoint(mobile) {
        float: unset;
        display: table;
        margin: 0 auto;
    }
}

.top {
    float: left;
    width: 100%;
    margin-top: 170px;
    
    @include breakpoint(tablet, mobile) {
        margin-top: 70px;
    }
}

.title {
    float: left;
    margin-left: 70px;
    margin-top: 47px;
    
    @include breakpoint(mobile) {
        margin: 0;
        width: 100%;
        text-align: center;
        margin-top: 25px;
    }
}

.logos {
    visibility: hidden;
    float: left;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid white;
    margin-top: 128px;
    padding-bottom: 16px;
    
    @include breakpoint(mobile) {
        margin-top: 0px;
        padding-bottom: 0px;
        border-bottom: none;
        justify-content: unset;
    }
    
    img {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 21px;
        
        @include breakpoint(mobile) {
            margin: 0 auto;
        }
    }
}

.contact {
    float: left;
    width: 100%;
    margin-top: 26px;

    .adress {
        float: left;
        background: url('../images/adress.png') left center no-repeat;
        padding-left: 18px;
        
        @include breakpoint(mobile) {
            margin: 0 auto;
            float: none;
            display: table;
            margin-bottom: 10px;
        }
    }
    
    .phone {
        float: left;
        background: url('../images/phone.png') left center no-repeat;
        padding-left: 15px;
        margin-left: 50px;
        
        @include breakpoint(tablet) {
            margin-left: 20px;
        }
        
        @include breakpoint(mobile) {
            margin: 0 auto;
            float: none;
            display: table;
            margin-bottom: 10px;
        }
    }
    
    .email {
        float: left;
        background: url('../images/email.png') left center no-repeat;
        padding-left: 22px;
        margin-left: 52px;
        
        @include breakpoint(tablet) {
            margin-left: 20px;
        }
        
        @include breakpoint(mobile) {
            margin: 0 auto;
            float: none;
            display: table;
            margin-bottom: 10px;
        }
    }
    
    .facebook {
        float: right;
        background: url('../images/facebook.png') left center no-repeat;
        padding-left: 23px;
        color: white;
        
        @include breakpoint(mobile) {
            margin: 0 auto;
            float: none;
            display: table;
        }
    }
}

#map {
    float: left;
    width: 100%;
    height: 373px;
    margin-top: 79px;
}

footer {
    float: left;
    width: 100%;
    height: 53px;
    background: black;
}

.bx-wrapper {
    float: left;
    width: 100% !important;
    max-width: 100% !important;
    margin: 0;
    height: 110px;
    border-bottom: 1px solid white;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    
    .bx-viewport {
        float: left;
        width: 100% !important;
        max-width: 100% !important;
        margin: 0;
        height: 110px !important;
        background: transparent !important;
    }
}

.page {
    float: left;
    width: 100%;
    overflow: hidden;
}